body {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 1;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

.button-nav {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 25%;
}

.color-box {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

.color-palette {
    flex-grow: 1;
    flex-basis: 25%;
}