* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

.landing-screen {
    display:flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

h1 {
    flex-grow: 1;
    flex-basis: 100%;
}

h2 {
    flex-grow: 1;
    flex-basis: 100%;
}

h3 {
    flex-grow: 1;
    flex-basis: 100%;
}

h4 {
    flex-grow: 1;
    flex-basis: 100%;
}

h5 {
    flex-grow: 1;
    flex-basis: 100%;
}

h6 {
    flex-grow: 1;
    flex-basis: 100%;
}

p {
    flex-grow: 1;
    flex-basis: 100%;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

.button-nav {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 15%;
}

div {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

.cart {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

.cart .listing {
    flex-grow: 1;
    flex-basis: 33.333%;
}

.text-input {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

.text-input label {
    flex-grow: 1;
    flex-basis: 100%;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.color-box {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

.color-palette {
    flex-grow: 1;
    flex-basis: 25%;
}

.landing-screen {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

.landing-half {
    flex-grow: 1;
    flex-basis: 50%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

.home-listing {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

.merch-cont {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

section.cart {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

@media (max-width: 76.25em) {
    .button-nav {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-basis: 25%;
    }
}

@media (max-width: 77.5em) {
    .button-nav {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-basis: 100%;
    }

    .content nav {
        position: relative;
    }
}

@media (max-width: 48em) {
    .cart .listing {
        flex-grow: 1;
        flex-basis: 50%;
        max-width: 30%;
    }
}

@media (max-width: 31.625em) {
    .cart .listing {
        max-width: 100%;
    }
}