* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

.landing-screen {
    display:flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

h1 {
    flex-grow: 1;
    flex-basis: 100%;
}

h2 {
    flex-grow: 1;
    flex-basis: 100%;
}

h3 {
    flex-grow: 1;
    flex-basis: 100%;
}

h4 {
    flex-grow: 1;
    flex-basis: 100%;
}

h5 {
    flex-grow: 1;
    flex-basis: 100%;
}

h6 {
    flex-grow: 1;
    flex-basis: 100%;
}

p {
    flex-grow: 1;
    flex-basis: 100%;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

.button-nav {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 15%;
}

div {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

.text-input {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

.text-input label {
    flex-grow: 1;
    flex-basis: 100%;
}

form {
    display: flex;
    flex-wrap: wrap;

}

.color-box {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

.color-palette {
    flex-grow: 1;
    flex-basis: 25%;
}

.landing-screen {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

.landing-half {
    flex-grow: 1;
    flex-basis: 50%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

.home-listing {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

.merch-cont {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

section.cart {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 60%;
}

section.cart-form {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 40%;
}

.merch-object {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 33.333%;
}

.cart .merch-object {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 33.333%;
}

.item-page {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

.product-listing {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 70%;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 30%;
}

section.description {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 40%;
}

section.contact {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 60%;
}

.home-product-link {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

.home-product-link a {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

.home-cont-cart {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

.home-cart-cont a {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
}

@media (max-width: 40.25em) {
    .merch-object {
        flex-basis: 100%;
        margin: 1rem 0;
    }
}

@media (max-width: 65em) {
    section.description {
        flex-basis: 100%;
    }

    section.contact {
        flex-basis: 100%;
    }
}

@media(max-width: 67.25em) {
    .cart .merch-object {
        flex-basis: 100%;
        margin: 2rem auto;
    }
}

@media (max-width: 57.5em) {
    .product-listing .merch-object {
        flex-basis: 100%;
    }

    .product-listing {
        flex-basis: 60%;
    }

    .filter {
        flex-basis: 40%;
    }

    .prod-space1 {
        padding-bottom: 9rem;
    }

    .prod-space2 {
        margin: 0;
        margin: 8rem 0;
        margin-top: 10rem;
    }
}

@media (max-width: 37.5em) {
    .button-nav {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-basis: 100%;
    }

    .space1 {
        margin-bottom: 2rem;
    }

    .space2 {
        margin: 8rem 0;
        margin-top: 10rem;
    }

    #nav-toggle {
        /* position: fixed; */
        width: 100%;
        z-index:99999;
    }

    #nav-items.hidden {
        position: relative;
    }

    .product-listing {
        flex-basis: 100%;
        margin-top: 10rem;
    }

    .filter {
        flex-basis: 100%;
        padding: 0;
    }

    .filter-cont {
        /* position: absolute; */
        top: 0;
        width: 100%;
        background-color: rgba(255, 255, 251,1);
        padding: 2rem;
        padding-top: 8rem;
    }
}

@media (max-width: 52em) {
    section.cart {
        flex-basis: 100%;
    }

    section.cart-form {
        flex-basis: 100%;
    }

    .form-cont {
        position: relative;
        padding-right: 0;
    }
}